body{
    color: rgb(255, 255, 255);

    background-color: #3c3c3c;
    background-size: cover;
    background-size: 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.mytitle{
    font-family: 'Sriracha', cursive;
    color: #c4941c;
    font-size: 20px;
}

.formlabels{
    position: relative;
    right: 30px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items:first center;
    
}

